* {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Nav Bar Start*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-right: 20%;
    background-color: #000981;
}

/* Navigation links styling */
.nav-links {
    color: white;
    display: flex;
    list-style: none;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
}
.nav-links a:hover {
    background-color: #ddd;
    color: #000981;
}

/* Name styling */
.name {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    color: #000981;
    background-color:#ddd;
    margin-right: 25%;
    margin-left: 15%;
    padding: 14px 16px;
}
/* End Nav Bar */



.flex-container {
    display: flex;
    background-color: DodgerBlue;
  }

.flex-container > div {
    background-color: grey;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }